<table class="table">
	<thead>
		<tr>
			<th>Field</th>
			<th>Content</th>
		</tr>
	</thead>

<tbody>
<% for (var prop in user) { %>
	<tr>
	<td>
		<%= prop %>
	</td><td>
		<%= user[prop] %>
	</td>
	</tr>
<% } %>

</tbody>

</table>


