<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class="row">
			<div class="col-sm-9">
				<!-- main column -->
					<p>
						Here we will show
						the login / connect
						with Loop button
						and explain the
						benfits of using
						loop.
					</p>
					<p>
						Connect with <a href="/" ><img src="/img/loop-logo.png"/></a>
					</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-9">
        		<% include ../partials/adsidebar %>
			</div>
		</div>

		<% include ../partials/bottom %>
  </body>
</html>
