<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class"row">
			<div class="col-sm-3">
				<!-- sidebar left -->
				<p>Authorization Callback </p>
			</div>

			<div class="col-sm-9">
				<!-- main column -->
				<h1>We have received a callback from the authentication. </h1>
				<p> come back soon -  while we implement the reamining handlers 
				</p>

			</div>
		</div>

		<% include ../partials/bottom %>
  </body>
</html>
