<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class"row">
			<div class="col-sm-3">
				<!-- sidebar left -->
				<p>Welcome to <%= title %> on left sidebar</p>
			</div>

			<div class="col-sm-9">
				<!-- main column -->
					<p>
						Here we show some of the loop API's integrated into an external website

					</p>
			</div>
		</div>

		<% include ../partials/bottom %>
  </body>
</html>
