<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
		<p>please read <a href="https://scotch.io/tutorials/use-ejs-to-template-your-node-application">https://scotch.io/tutorials/use-ejs-to-template-your-node-application</a> for more detail on EJS view engine...</p>
  </body>
</html>
