<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
		<meta http-equiv="refresh" content="<%= refreshTime %>">
  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class"row">
			<div class="col-sm-3">
				<!-- sidebar left -->
				<p>Refresh </p>
			</div>

			<div class="col-sm-9">
				<!-- main column -->
				<h1>We are getting things ready...</h1>
				<p>hang on while we load data, this page will refresh in 
					<%= refreshTime %> seconds.
				</p>

			</div>
		</div>

		<% include ../partials/bottom %>
  </body>
</html>
